/*- - - - - - - - -样式属搜索.html - - - - - - - -*/
	/*搜索*/
	#Search{width:90%;margin:0 auto;margin-bottom:5%;padding-top:3%;}
	#Search .SearchTab{float:left;width:100%;position:relative;margin-left:-1px;}
	#Search .SearchTab li{float:left; width:13%;float:left;text-align:center;font-size:1.4em; padding:2% 0;}
	#Search .SearchTab li:hover{ text-decoration:none;}
	#Search .SearchTab li.change { background-color:#eaeaea;color:#333;border:1px solid #ececec;border-bottom:none;}
	#Search .form{float:left;width:100%;}
	#Search .form .text{float:left;width:62%;overflow:hidden;border:1px solid #eaeaea;border-right:none;margin-left:-1px;line-height:51px;height:51px;background:url(../images/btn_search.gif) no-repeat left center;padding-left:18%;font-size:2.1em;color:#b8b8b8;}
	#Search .form .btn_send{float:left;width:20%;background-color:#ffb400;border:0;height:53px;line-height:53px;font-size:22px;font-family:'微软雅黑';color:#fff;}
	/*热门搜索关键词*/
	#HotSearchKey{width:90%;margin:0 auto 3%;border-left:1px solid #eaeaea;border-top:1px solid #eaeaea;overflow:hidden;font-size:1.4em;}
	#HotSearchKey strong{float:left;width:25%;border-bottom:1px solid #eaeaea;border-right:1px solid #eaeaea;height:54px;line-height:54px;text-align:center;font-weight:normal;position:relative;margin-top:-1px;color:#ffb301;margin-left:-1px;}
	#HotSearchKey a{float:left;width:25%;padding-top:4%;padding-bottom:4%;text-align:center;position:relative;border-bottom:1px solid #eaeaea;border-right:1px solid #eaeaea;color:#b8b8b8;margin-left:-1px;margin-top:-1px;}
	#HotSearchKey a:active{ background:#ffb400; color:#fff;}
	#HotSearchKey em{color:#ffb400;}
/*- - - - - - - - -样式属症状显示详细.html - - - - - - - -*/
	#BingZhuang{width:90%;margin:0 auto; margin-top:20px;border:1px solid #e9e9e9;font-size:1.4em;line-height:1.4em;}
	#BingZhuang ul li{border-bottom:1px solid #eaeaea;width:100%;overflow:hidden;padding-top:25px;padding-bottom:25px;background:url(../images/2.png) no-repeat 95% 45px;}
	#BingZhuang ul li img{float:left;margin-left:4%;margin-right:4%;}
	#BingZhuang ul li strong{display:block;font-size:1.6em;height:38px;line-height:38px;overflow:hidden;font-weight:normal;}
	#BingZhuang ul li em{display:block;color:#b9b9b9;line-height:29px;height:29px;overflow:hidden;}
	#BingZhuang ul li .box{border-top:1px solid #eaeaea;padding-top:25px;padding-bottom:25px;padding-left:22px;padding-right:22px;font-size:1.6em;line-height:1.8em;margin-top:25px;display:none;}
	#BingZhuang ul li .box a{display:inline-block;}
	#BingZhuang ul li.change { background-image:url(../images/1.png);}
/*- - - - - - - - -样式属症状显示详细2.html - - - - - - - -*/
	#XiangGuan{width:90%; height:auto; overflow:hidden; margin:10px auto; border-top:1px solid #eaeaea; border-left:1px solid #eaeaea; border-right:1px solid #eaeaea; font-size:1.4em;}
	#XiangGuan li {padding:10px; height:auto; overflow:hidden; clear:both; border-bottom:1px solid #eaeaea;}
	#XiangGuan .title {width:30%; text-align:center}
	#XiangGuan .title h1 {font-size:1.2em; color:#333;}
	#XiangGuan .content {width:60%; margin-left:20px;}
	#XiangGuan a {color:#b8b8b8;}
	
/*- - - - - - - - -商家信息报错.html - - - - - - - -*/
	#BaoCuo{width:90%; height:auto; overflow:hidden; margin:10px auto;}
	#BaoCuo h1 {font-size:1.5em; color:#333;}
	#BaoCuo .Xuanze {width:100%; height:30px; line-height:30px; color:#333;}
	#BaoCuo .input {vertical-align:text-bottom; margin-bottom:2px; margin-bottom:-2px\9;}
	#BaoCuo span {padding-left:10px; height:30px; line-height:30px; font-size:1.4em; line-height:30px; color:#333;}
	#BaoCuo .txtarea {width:99%; height:30px; line-height:30px;}


	
/*- - - - - - - - -样式属App大全.html - - - - - - - -*/
	#AppDownList{width:90%;margin:0 auto;padding-top:8px;}
	#AppDownList .box{width:100%;border:1px solid #eaeaea;margin-bottom:15px;padding-top:9px;padding-bottom:9px;}
	/*栏目标题*/
	.PartTitle{padding-top:6px;padding-bottom:6px;font-size:1.6em;font-weight:normal;margin-bottom:14px;vertical-align:middle;width:100%;}
	.PartTitle img{margin-right:4%;margin-left:4%;width:11%;vertical-align:middle;}
	.PartTitle em{vertical-align:middle;height:100%;}
	.PartTitle .btn_down{float:right;margin-top:4px;}
	.PartTitle .btn_down img{width:70%;}
	/**/
	.autoplay{width:98%;margin:0 auto;}
	.autoplay strong{display:block;line-height:27px;}
	.autoplay a{width:80%; display:block;}
	.autoplay img{width:100%}
	

/*- - - - - - - - -健康医疗咨询导航.html - - - - - - - -*/
	#ZiXunDaoHang {width:100%; height:auto; overflow:hidden; margin:0px auto;}
	#ZiXunDaoHang .title {width:100%; height:60px; background:#eaeaea;}
	#ZiXunDaoHang .title h1 {font-size:2.0em; display:block; width:90%; margin:0px auto; font-weight:normal; line-height:60px;}
	#ZiXunDaoHang .topnews {width:90%; margin:10px auto; height:114px;}
	#ZiXunDaoHang .topnews .img  {width:112px; height:112px; border:1px solid #eaeaea; margin-right:10px;}
	#ZiXunDaoHang .topnews .topnewscon {width:100%; height:114px; padding-bottom:10px; border-bottom:1px solid #eaeaea;}
	#ZiXunDaoHang .topnews h2 {font-size:1.8em;font-weight:normal;}
	#ZiXunDaoHang .topnews p {color:#b8b8b8; font-size:1.4em;}
	#ZiXunDaoHang .newslist {width:100%; height:auto; overflow:hidden; margin:0px auto;}
	#ZiXunDaoHang .newslist li {width:90%; margin:0px auto; font-size:1.6em; line-height:50px; border-bottom:1px solid #eaeaea; height:50px;}
	#ZiXunDaoHang .newslist li a {color:#333; text-decoration:none;}
	#ZiXunDaoHang .more a {color:#333;width:90%; background:url(../images/3.png) 68% center no-repeat; margin:10px auto; height:60px; border:1px solid #eaeaea; border-radius:10px; text-align:center; line-height:60px; font-size:1.6em; display:block;}
	.div_show, {display:block;}
	.div_show2 {display:block;}
	.div_show3 {display:block;}
	.div_show4 {display:block;}
	.div_show5 {display:block;}
	.div_hide {display:none;}
	.div_hide2 {display:none;}
	.div_hide3 {display:none;}
	.div_hide4 {display:none;}
	.div_hide5 {display:none;}
	
/*- - - - - - - - -药店报价.html - - - - - - - -*/
	#YaoDianBaoJia {width:100%; height:auto; background:#fff; overflow:hidden; margin:0px auto;}
	#YaoDianBaoJia .topimg {width:100%; height:400px; overflow:hidden;}
	#YaoDianBaoJia .topimg img {width:640px; height:400px;}
	#YaoDianBaoJia .price {width:90%; margin:0px auto; height:60px; line-height:60px;  background:#FFF;}
	#YaoDianBaoJia .price h1 {float:left; font-size:2.5em; color:#f277b8;}
	#YaoDianBaoJia .borderBottom10 {border-bottom:10px solid #e5e5e5; width:100%; height:1px;}
	#YaoDianBaoJia .borderBottom1 {border-bottom:1px solid #e5e5e5; width:100%; height:1px;}
	#YaoDianBaoJia .price span {float:right; color:#b8b8b8; font-size:1.6em;}
	
	#YaoDianBaoJia .pingfen {width:90%; height:60px; margin:0px auto;}
	.pingfen .star_t{ width:47px; color:#FC0; text-align:center; font-size:2.6em; font-weight:bold; line-height:60px; float:left;}
	.pingfen .dp_boxc{ float:left; border:0px; margin-top:18px;}
	.pingfen .revinp{ clear:both; border:0px;}
	.pingfen .level .level_solid,.level .level_hollow{border:0px;float:left;background-image:url("../images/ico-team/star.png");background-repeat:no-repeat; background-size:24px 24px;display:inline-block;width:26px;height:24px;}
	.pingfen .level .level_hollow{background-image:url("../images/ico-team/ico-star.png");background-repeat:no-repeat; background-size:24px 24px;}
	.pingfen .revgrade{margin-left:10px; line-height:24px; display:none;}
	.pingfen .scored {line-height:60px; font-size:1.6em; color:#b8b8b8;}
	.pj_tb{width:90%; height:auto; overflow:hidden; margin:10px auto;}
	.pj_tb a{ float:left; display:inline-block; padding:5px; height:24px; font-size:1.4em; line-height:24px; margin-right:10px; margin-bottom:10px;}
	.pj_tb a.bg01{ background:#f8d4a7; color:#e17f1e;}
	.pj_tb a.bg02{ background:#e3e3e3; color:#7a7a7a;}
	#YaoDianBaoJia .Buy a {width:90%; height:60px; display:block; background:#f277b8; border-radius:5px; margin:10px auto; text-align:center; font-size:1.8em; line-height:60px; color:#fff;}
	#YaoDianBaoJia .Content {width:90%; margin:10px auto; height:auto; overflow:hidden;}
	#YaoDianBaoJia .Content li {width:100%; line-height:30px; border-bottom:1px solid #eaeaea; clear:both; font-size:1.4em;}
	#YaoDianBaoJia .Content h3 {float:left; text-align:center; width:30%;color:#333;}
	#YaoDianBaoJia .Content .txt {width:70%; height:30px; line-height:30px; color:#333;}
	#YaoDianBaoJia .Content .txt span {color:#f00;}
	#YaoDianBaoJia .Content a {color:#f277b8;}\
	#YaoDianBaoJia .remind {width:90%; height:60px; line-height:60px; background:#f00;}
	#YaoDianBaoJia .remind .icon a {width:90%; margin:0px auto; padding:0px 10px; display:block; background:#f277b8; border-radius:5px;text-align:center; font-size:1.8em; line-height:60px; color:#fff;}
	#YaoDianBaoJia .remind .icon a span {font-size:0.8em;}
	#YaoDianBaoJia .remind .txt {font-size:1.2em; color:#b8b8b8; width:90%; margin:0px auto; line-height:30px; text-align:center;}
	.myscore {width:280px; text-align:center; height:60px; margin:0px auto;}
	.myscored {margin-right:10px; font-size:2.0em; color:#333; line-height:60px;}
	.myscore .star_t{width:47px; color:#FC0; text-align:center; font-size:2.6em; font-weight:bold; line-height:60px; float:left;}
	.myscore .dp_boxc{ float:left; border:0px; margin-top:18px;}
	.myscore .revinp{ clear:both; border:0px;}
	.myscore .level .level_solid,.level .level_hollow{border:0px;float:left;background-image:url("../images/ico-team/star.png");background-repeat:no-repeat; background-size:24px 24px;display:inline-block;width:26px;height:24px;}
	.myscore .level .level_hollow{background-image:url("../images/ico-team/ico-star.png");background-repeat:no-repeat; background-size:24px 24px;}
	.myscore .revgrade{margin-left:10px; line-height:24px; display:none;}
	
	.shoplist {width:100%;}
	.shoplist .title {width:90%; margin:0px auto; height:60px; line-height:60px;}
	.shoplist h1 {font-size:2.0em; font-weight:normal; color:#333;}
	.shoplist ul {width:90%; margin:0px auto;}
	.shoplist li {border-bottom:1px solid #eaeaea; padding-bottom:10px; clear:both;}
	.shoplist .name {width:100%; line-height:40px; height:40px;}
	.shoplist .name h2 {font-size:1.6em; color:#333; float:left; font-weight:normal;}
	.shoplist .name span {float:right; font-size:1.8em; font-weight:bold; font-style:italic; color:#f277b8;}
	.shoplist .img {margin-right:10px;}
	.shoplist .txt {min-width:162px; width:50%; font-size:1.2em;}
	.shoplist .txt li {border:none; padding-bottom:0px;}
	.txt .star {width:140px;}
	.txt .star_t{width:47px; color:#FC0; text-align:center; font-weight:bold; font-size:1.6em; float:left;}
	.txt .dp_boxc{ float:left; border:0px; margin-top:5px;}
	.txt .revinp{ clear:both; border:0px;}
	.txt .level .level_solid,.txt .level .level_hollow{border:0px;float:left;background-image:url("../images/ico-team/star.png");background-repeat:no-repeat; background-size:14px 14px;display:inline-block;width:16px;height:14px;}
	.txt .level .level_hollow{background-image:url("../images/ico-team/ico-star.png");background-repeat:no-repeat; background-size:14px 14px;}
	.txt .revgrade{margin-left:10px;display:none;}
	.shoplist .listBottom {width:90%; line-height:24px; height:24px;}
	.shoplist .listBottom li {float:left; background:url(../images/listBottomIcon.gif) left center no-repeat; background-size:14px 14px; padding-left:18px; margin-right:10px; line-height:40px; border:none; padding-bottom:0px; font-size:1.6em; clear:none;}